.expandable {
    height: 0%;
    overflow: hidden;
    opacity: 0%;
}

.transform {
    transition: height 1s ease-in-out, opacity 0.5s ease-in-out;
}

.expanded {
    margin-top: 10px;
    height: 100%;
    opacity: 100%;
}
