---
import SwissKnife from "../components/SwissKnife.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex flex-col items-center">
      <div class="text-xl py-1 px-3">Hi there 👋</div>
      <div class="text-3xl text-center px-3">I'm Adrian, Software Engineer</div>
      <div class="text-xl py-3 px-2 font-bold text-center">This is how I can help you.</div>
      <SwissKnife/>
    </div>


</BaseLayout>
