---
import SwissKnife from "../components/SwissKnife.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---
<style>
  #knife_cicd {
    animation: float 2s infinite, pulseAnimation 2s infinite;
  }

  #knife_web {
    animation: float 3s infinite;
    animation-delay: 300ms;
  }

  #knife_training {
    animation: float 2.5s infinite;
    animation-delay: 500ms;
  }

  #knife_cloud {
    animation: float 1.5s infinite;
    animation-delay: 300ms;
  }

  #knife_server {
    animation: float 2.5s infinite;
    animation-delay: 300ms;
  }

  .clickable:hover {
    cursor: pointer;
    stroke-width: 0.5rem;
    stroke:white;
  }

  @keyframes pulseAnimation {
    0% {
      stroke-width: 0rem;
      stroke:white;
    }
    50% {
      stroke-width: 0.5rem;
      stroke:white;
    }
    100% {
      stroke-width: 0rem;
      stroke:white;
    }
  }

  @keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
      transform: translatey(0px) rotate(-0.5deg);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
      transform: translatey(-4px) rotate(0.5deg);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
      transform: translatey(0px) rotate(-0.5deg);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(1deg);
    }
    100% {
    }
  }
</style>

<script>
  // Find all svg elements with the `web` class on the page.
  const cicd = document.querySelectorAll('#cicd');

  // Handle clicks on each button.
  cicd.forEach(button => {
    button.addEventListener('click', () => {
      alert("Ooops. I don't do anything yet. Well, I glow.");
    });
  })
    
</script>

<BaseLayout>
    <div class="flex flex-col items-center">
      <div class="text-xl py-1 px-3">Hi there 👋</div>
      <div class="text-3xl text-center px-3">I'm Adrian, Software Engineer</div>
      <div class="text-xl py-3 px-2 font-bold text-center">This is how I can help you.</div>
      <SwissKnife/>
    </div>


</BaseLayout>
