---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle='Why "prying bee"'>
  <div class="flex flex-col justify-between items-center w-[100%]">
    <div class="flex flex-col flex-wrap items-start mx-5 md:my-20">
      <div class="flex flex-col justify-center items-center ">
        <div class="flex flex-col items-start">
          <div class="flex flex-row items-end">
            <p class="text-3xl  font-definition font-bold">prying</p>
            <p class="text-xl  px-3 font-definition">adjective</p>
          </div>
          <p class="text-sm  font-definition font-bold pt-1">as in <em>curious</em></p>
          <p class="text-sm  font-definition text-light">interested in what is not one's own business 🙃</p>
          <p class="text-sm  font-definition text-light"><em>read: will not back away from domains, just because I don't know them yet</em></p>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center pt-5">
        <div class="flex flex-col items-start">
          <div class="flex flex-row items-end">
            <p class="text-3xl  font-definition font-bold">bee</p>
            <p class="text-xl  px-3 font-definition">noun</p>
          </div>
          <p class="text-sm  font-definition font-bold pt-1">as in <em>busy bee</em></p>
          <p class="text-sm  font-definition text-light">a hard working and useful be(e)ing</p>
        </div>
      </div>
      <div class="flex flex-col  justify-start items-start pt-5">
        <p class="text-lg font-definition">And it sounds like a random name Docker would use for containers:</p>
          <div class="flex flex-col md:flex-row flex-wrap justify-between text-light font-mono">
            <div class="flex flex-col items-start pb-2 md:pr-2 md:pt-2">
              <div>CONTAINER ID</div>
              <div>7ea96a898e5f</div>
            </div>
  
            <div class="flex flex-col items-start py-2 md:px-2">
              <div>IMAGE</div>
              <div>busybox</div>
            </div>
  
            <div class="flex flex-col items-start py-2 md:px-2">
              <div>COMMAND</div>
              <div>"sh"</div>
            </div>
  
            <div class="flex flex-col items-start py-2 md:px-2">
              <div>CREATED</div>
              <div>3 seconds ago</div>
            </div>
  
            <div class="flex flex-col items-start py-2 md:px-2">
              <div>STATUS</div>
              <div>Running</div>
            </div>
  
            <div class="flex flex-col items-start py-2 md:px-2">
              <div>PORTS</div>
              <div></div>
            </div>
  
            <div class="flex flex-col items-start py-2 md:px-2">
              <div>NAMES</div>
              <div>prying_bee</div>
            </div>
  
          </div>
      </div>
    </div>
  </div>
</BaseLayout>
