---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 flex-initial">
  <div class="pb-2 flex items-center justify-center">
    &copy; {today.getFullYear()} Adrian - Daniel Azoitei 🚀
  </div>
  <div class="pb-2 text-xs flex items-center justify-center">
    KVK 76877043
  </div>
</footer>
<style>

</style>
