---
const today = new Date();
---

<footer class="footer footer-center block pt-10 flex-initial">
  <div class="pb-2 flex items-center justify-center">
    &copy; {today.getFullYear()} Adrian - Daniel Azoitei 🚀
  </div>
  <div class="pb-2 text-xs flex items-center justify-center">
    KVK 76877043
  </div>
  <div class="flex flex-row justify-center my-2">
    <a href="/" class="cursor-pointer"><img src="/swiss.svg" class="h-[1.5em] mx-3"/></a>
    <a href="https://github.com/adrianAzoitei"><img src="/github.png" class="h-[1.5em] mx-3"/></a>
    <a href="https://linkedin.com/in/azoadrian"><img src="/linkedin.webp" class="h-[1.5em] mx-3"/></a>
  </div>
</footer>
<style>

</style>
