---
const { title } = Astro.props;
---

<div class="flex-1 expandable transform m-2 bg-use-cases hover:bg-use-cases-hover text-white font-semibold rounded-lg cursor-pointer border border-white">
    <div class="text-lg text-center mt-2">{title}</div>
    <div class="mx-4">
        <slot />
    </div>
</div>