<style>
    #knife_cicd {
      animation: float 2s infinite, pulseAnimation 2s infinite;
    }
  
    #knife_web {
      animation: float 3s infinite;
      animation-delay: 300ms;
    }
  
    #knife_training {
      animation: float 2.5s infinite;
      animation-delay: 500ms;
    }
  
    #knife_cloud {
      animation: float 1.5s infinite;
      animation-delay: 300ms;
    }
  
    #knife_server {
      animation: float 2.5s infinite;
      animation-delay: 300ms;
    }
  
    .clickable:hover {
      cursor: pointer;
      stroke-width: 0.5rem;
      stroke:white;
    }
  
    @keyframes pulseAnimation {
      0% {
        stroke-width: 0rem;
        stroke:white;
      }
      50% {
        stroke-width: 0.5rem;
        stroke:white;
      }
      100% {
        stroke-width: 0rem;
        stroke:white;
      }
    }
  
    @keyframes float {
      0% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px) rotate(-0.5deg);
      }
      50% {
        /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
        transform: translatey(-4px) rotate(0.5deg);
      }
      100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px) rotate(-0.5deg);
      }
    }
  
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(1deg);
      }
      100% {
      }
    }
</style>

<script>
    // Find all svg elements with the `web` class on the page.
    const cicd = document.querySelectorAll('#cicd');
  
    // Handle clicks on each button.
    cicd.forEach(button => {
      button.addEventListener('click', () => {
        alert("Ooops. I don't do anything yet. Well, I glow.");
      });
    })
</script>

<div class="p-5 min-w-[100%] md:min-w-[40%] overflow-visible">
    <svg class="overflow-visible" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 742.4 651.56" style="enable-background:new 0 0 742.4 651.56;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#F1FAEE;}
      .st1{fill:none;stroke:#F1FAEE;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
      .st2{fill:none;stroke:#F1FAEE;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:12.0095,12.0095;}
      .st3{font-family:'SpaceMono-Regular';}
      .st4{font-size:35px;}
      .st5{font-size:32px;}
      .st6{fill:none;stroke:#F1FAEE;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:11.8131,11.8131;}
      .st7{fill:none;stroke:#F1FAEE;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:12.7145,12.7145;}
      .st8{fill:none;stroke:#F1FAEE;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:10.6542,10.6542;}
      .st9{fill:none;stroke:#F1FAEE;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:11.1578,11.1578;}
      .st10{fill:#E63946;}
    </style>
    <g id="training">
      <path id="knife_training" class="st0 clickable" d="M261.13,589.48l-0.8-2.03c-0.24-0.61-0.73-1.08-1.35-1.28l-7.44-5.23c-0.85-0.29-1.53-0.93-1.86-1.76
        l-92-232.48l-12.09,4.78l-12.09,4.78l92,232.48c0.33,0.83,0.28,1.77-0.15,2.56l-1.84,8.9c-0.31,0.57-0.35,1.26-0.11,1.86l0.8,2.03
        c0.07,0.18,0.17,0.35,0.29,0.51l30.27,46.95l8.29-3.28l8.29-3.28l-10.06-54.95C261.25,589.85,261.2,589.66,261.13,589.48z"/>
      <g id="arrow_00000091715089243880015980000012185210140968216466_">
        <g>
          <path class="st1" d="M104.03,525.19c0.53,1.96,1.14,3.86,1.84,5.71"/>
          <path class="st2" d="M111.3,541.59c15.6,24.1,48.17,34.99,79.29,34.42"/>
          <path class="st1" d="M196.59,575.75c2-0.13,4-0.31,5.97-0.54"/>
          <g>
            <path class="st0" d="M207.77,574.5c-2.34,1.22-5.18,3.15-6.86,5.04l0.97-4.29l-2-3.92C201.96,572.73,205.2,573.9,207.77,574.5z"
              />
          </g>
        </g>
      </g>
      <text transform="matrix(0.8361 0.5486 -0.5486 0.8361 13.0889 443.5111)" class="st0 st3 st4">trainings</text>
    </g>
    <g id="cicd">
      <g>
        <text transform="matrix(0.9873 0.1588 -0.1588 0.9873 41.6333 63.4802)" class="st0 st3 st5">cicd</text>
      </g>
      <g id="arrow_00000106121505040550746940000010420135236740466337_">
        <g>
          <path class="st1" d="M86.68,78.38c-0.21,2.12-0.15,4.11,0.15,5.98"/>
          <path class="st6" d="M91.72,94.97c17.81,22.09,73.15,23.47,28.07,58.28"/>
          <path class="st1" d="M115.06,156.78c-1.55,1.11-3.19,2.25-4.93,3.42"/>
          <g>
            <path class="st0" d="M105.74,163.09c1.54-2.14,3.22-5.14,3.88-7.57l1.06,4.27l3.54,2.61
              C111.72,162.07,108.3,162.47,105.74,163.09z"/>
          </g>
        </g>
      </g>
      <path id="knife_cicd" class="st0 clickable" d="M98.13,220.76c0,0,16.51-16.33,14.24-21.71
        c-2.27-5.38-1.81-8.19-8.16-8.43s-32.53,0.89-32.53,0.89l16.12-24.82c0,0,4.91-8.35,1.17-12.38c-3.73-4.03-2.07-4.49-13.51-3.92
        s-26.82,0.99-26.82,0.99l20.72-26.47c0,0,1.56-7.12-1.26-10.23c-2.83-3.11-3.91-4.09-11.98-3.92s-28.31,1.4-28.31,1.4l5.33-8.69
        c0,0,1.52-4.53-2.15-8.56s-8.95-3.16-10.76-1.76c-1.82,1.4-19.41,24.46-19.41,24.46s-2.8,4.69,1.87,9.72
        c4.67,5.03,8.51,3.74,10.1,3.68s29.25-1.43,29.25-1.43l-19.47,26.11c0,0-4.69,7.3,0.38,11.67s2.87,3.58,9.76,3.52
        s30.31-1.36,30.31-1.36l-19.43,26.64c0,0-4.34,5.84,0.24,10.72c4.58,4.88,4.45,3.64,9.76,3.55s30.76-0.96,30.76-0.96
        s-8.75,8.91-5.46,13.75c3.29,4.83,99.97,182.02,99.97,182.02l15.2-9.79L98.13,220.76z"/>
    </g>
    <g id="server_x5F_side">
      <text transform="matrix(0.9737 -0.2278 0.2278 0.9737 261.5833 82.6458)" class="st0 st3 st4">server_side</text>
      <g id="arrow_00000109731369588709292530000014789020901815766949_">
        <g>
          <path class="st1" d="M330.24,82.67c-0.2,2-0.74,3.92-1.57,5.76"/>
          <path class="st7" d="M320.83,98.33c-30.27,26.26-120,35.25-75.24,61.4"/>
          <path class="st1" d="M251.21,162.74c1.68,0.84,3.48,1.69,5.43,2.56"/>
          <g>
            <path class="st0" d="M261.46,167.37c-2.63-0.16-6.07,0.03-8.47,0.78l3.04-3.18l0.3-4.39
              C257.4,162.87,259.57,165.54,261.46,167.37z"/>
          </g>
        </g>
      </g>
      <path id="knife_server" class="st0 clickable" d="M383.06,84.61c0,0,11.65-7.41,16.94,6.71
        c5.29,14.12,0.35,54.35-3.53,66.35s-12,32.12-28.24,48.35C352,222.26,154,420.26,154,420.26l-53.29-53.29L383.06,84.61z"/>
    </g>
    <g id="web">
      <text transform="matrix(0.8939 -0.4483 0.4483 0.8939 549.2211 539.1763)" class="st0 st3 st4">web</text>
      <path id="knife_web" class="st0 clickable" d="M664.11,385L377.71,565.26c-6.89,4.34-17.19,0.36-23-8.88l0,0c-12.87-20.46,16.82-62.3,32.07-71.9
        l4.9-3.08c5.78-3.64,14.42-0.3,19.3,7.45l6.02,9.56l66-41.54l-6.02-9.56c-4.88-7.75-4.15-16.99,1.63-20.63l151.67-95.46L664.11,385
        z"/>
      <g id="arrow_00000011720848598712444080000001961404433211480751_">
        <g>
          <path class="st1" d="M530.59,543.91c-1.13,1.68-2.35,3.27-3.64,4.76"/>
          <path class="st8" d="M519.14,555.9c-23.22,17.32-59.65,13.98-74.11-1.75"/>
          <path class="st1" d="M441.85,549.89c-1.02-1.73-1.8-3.57-2.32-5.51"/>
          <g>
            <path class="st0" d="M438.83,539.18c1.27,2.31,3.26,5.11,5.18,6.75l-4.31-0.88l-3.87,2.09
              C437.18,545.02,438.28,541.75,438.83,539.18z"/>
          </g>
        </g>
      </g>
    </g>
    <g id="cloud_x5F_native">
      <g id="arrow">
        <g>
          <path class="st1" d="M539.17,232.98c0.32-2.05,0.84-3.98,1.54-5.79"/>
          <path class="st9" d="M546.82,217.95c17.99-18.03,63.04-18.28,102.29-18.65"/>
          <path class="st1" d="M654.69,199.24c2.02-0.02,4.02-0.05,6-0.08"/>
          <g>
            <path class="st0" d="M665.94,199.06c-2.46,0.95-5.5,2.56-7.38,4.24l1.44-4.16l-1.55-4.12
              C660.37,196.66,663.46,198.18,665.94,199.06z"/>
          </g>
        </g>
      </g>
      <path id="knife_cloud" class="st0 clickable" d="M735.49,140.39l-0.06,0.06l-11.76,26.93l-16.06,3.77l-8.6-14.06l10.9-27.29l0-0.08c0.21-3.98-2.84-6-5.88-3.9
        c-31.11,31.47-21.74,42.08-17.83,49.86c1.25,2.48,1.39,5.36,0.32,7.92l-84.56,202.38l13.55,5.66l0-0.01l13.52,5.65l84.56-202.38
        c1.07-2.56,3.22-4.48,5.86-5.33c8.29-2.68,22.42-3.47,22.95-47.72C741.75,138.19,738.18,137.44,735.49,140.39z"/>
      <text transform="matrix(1 0 0 1 377.3728 266.6711)" class="st0 st3 st5">cloud_native</text>
    </g>
    <g id="base">
      <path class="st10" d="M625.6,443.51H147.82c-40.57,0-73.46-32.89-73.46-73.46v0c0-40.57,32.89-73.46,73.46-73.46H625.6
        c40.57,0,73.46,32.89,73.46,73.46v0C699.05,410.62,666.17,443.51,625.6,443.51z"/>
      <g>
        <path class="st0" d="M168.88,378.4h-34.95c-4.61,0-8.35-3.74-8.35-8.35v0c0-4.61,3.74-8.35,8.35-8.35h34.95
          c4.61,0,8.35,3.74,8.35,8.35v0C177.23,374.67,173.49,378.4,168.88,378.4z"/>
        <path class="st0" d="M143.06,387.53v-34.95c0-4.61,3.74-8.35,8.35-8.35h0c4.61,0,8.35,3.74,8.35,8.35v34.95
          c0,4.61-3.74,8.35-8.35,8.35h0C146.8,395.88,143.06,392.14,143.06,387.53z"/>
      </g>
      <circle class="st0" cx="624.94" cy="370.23" r="14.32"/>
    </g>
    </svg>
    
  </div>    