---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { Image } from 'astro:assets';

---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col items-center justify-center">
    <div class="text-2xl">{frontmatter.title}</div>
    <!-- <Image src={frontmatter.heroImage} alt="Web development" transition:name="foo"/> -->
  </div>
  <slot />
</BaseLayout>